/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  
}
.fcsLogo-header {
  height: 100px;
  width: 100px;
  
}

#container {
  position: relative;
  width: 940px;
}

#container:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}

#menu {
  position: relative;
  float: left;
  width: 100%;
  padding: 0 20px;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(0, 0, 0, 0.15), 0 1px 3px rgba(0, 0, 0, 0.15);
  background: #000028 !important;
}

#menu,
#menu ul {
  list-style: none;
}

#menu > li {
  float: left;
  position: relative;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 1px 0 0 #000028(255, 255, 255, 0.25);
  perspective: 1000px;
}

#menu > li:first-child {
  border-left: 1px solid #000028(255, 255, 255, 0.25);
  box-shadow: -1px 0 0 rgba(0, 0, 0, 0.1), 1px 0 0 rgba(255, 255, 255, 0.25);
}

#menu a {
  display: block;
  position: relative;
  z-index: 10;
  padding: 13px 20px 13px 20px;
  text-decoration: none;
  color: rgba(75, 75, 75, 1);
  line-height: 1;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: -0.05em;
  background: transparent;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.9);
  transition: all 0.25s ease-in-out;
}

#menu > li:hover > a {
  background: #333;
  color: rgba(0, 223, 252, 1);
  text-shadow: none;
}

#menu li ul {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 200px;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background: transparent;
  overflow: hidden;
  transform-origin: 50% 0%;
}

#menu li:hover ul {
  padding: 15px 0;
  background: #333;
  opacity: 1;
  visibility: visible;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.5);
  animation-name: swingdown;
  animation-duration: 1s;
  animation-timing-function: ease;
}

@keyframes swingdown  {
  0% {
    opacity: 0.9999;
    transform: rotateX(90deg);
  }

  30% {
    transform: rotateX(20deg) rotateY(5deg);
    animation-timing-function: ease-in-out;
  }
  65% {
    transform: rotateX(20deg) rotateY(-3deg);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: rotateX(0);
    animation-timing-function: ease-in-out;
  }
}

#menu li li a {
  padding-left: 15px;
  font-weight: 400;
  color: #ddd;
  text-shadow: none;
  border-top: dotted 1px transparent;
  border-bottom: dotted 1px transparent;
  transition: all 0.15s linear;
}

#menu li li a:hover {
  color: rgba(0, 223, 252, 1);
  border-top: dotted 1px rgba(255, 255, 255, 0.15);
  border-bottom: dotted 1px rgba(255, 255, 255, 0.15);
  background: rgba(0, 223, 252, 0.02);
} */

/* Remove down arrow from dropdown menus */
.nav-item.dropdown > .nav-link::after {
  content: none;
}

.nav-logo{
  height: 50px;
  width: 130px;
}

.fcsLogo-header {
display: flex;
align-self: center;    
  }
  
  .nav-card {
    background-color: #099 !important;
    
  }
  
  /*.nav-card-right {
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  .navbar-bg {
    background-color: #000028 !important;
    border-bottom: 2px  solid rgb(233, 231, 231);
    border-image: linear-gradient(
        to right,
        rgb(0 118 227 / 80%),
        rgb(255 30 84 / 80%)
      )
      1;
    border-image-slice: 1 ;
  }
  .heading-colors {
    color: #fff !important;
    font-size: 14px;
    font-weight: 500;
    background-color: transparent;
    font-family: Siemenas sans Roman !important;
  }
  .heading-color-header {
    color: #fff !important;
    font-size: 18px !important;
    font-weight: 400;
  }

  .heading-color :hover{
    background-color: #000028 !important;
    border-bottom: 2px solid rgb(233, 231, 231);
    border-image: linear-gradient(to right, rgb(0 118 227 / 80%), rgb(255 30 84 / 80%)) 1;
    border-image-slice: 1;
    color: linear-gradient(to right, rgb(0 118 227 / 80%), rgb(255 30 84 / 80%));
    transition: border-color 0.3s ease, color 0.3s ease;
  }
  .heading-colors :hover{
    color: aqua !important;
    border-bottom: 1px solid rgb(233, 231, 231);
    /* border-image: linear-gradient(to right, rgb(0 118 227 / 80%), rgb(255 30 84 / 80%)) 1;
    border-image-slice: 1;
    color: linear-gradient(to right, rgb(0 118 227 / 80%), rgb(255 30 84 / 80%));
    transition: border-color 0.3s ease, color 0.3s ease; */
  }
  /* .heading-color-header :hover{
    color: #fff !important;
    border-bottom: 2px solid rgb(233, 231, 231);
    border-image: linear-gradient(to right, rgb(0 118 227 / 80%), rgb(255 30 84 / 80%)) 1;
    border-image-slice: 1;
    color: linear-gradient(to right, rgb(0 118 227 / 80%), rgb(255 30 84 / 80%));
    transition: border-color 0.3s ease, color 0.3s ease;
  } */
  /* .icons {
    color: #fff;
    font-weight: bold;
    height: 25px;
    width: 25px;
  } */
 

  
  .heading {
    color: #fff !important;
    font-size: 24px;
    font-weight: 400;
    font-family: Siemenas sans Roman !important;
  }
  .navbar-toggler-icon {
      color: #fff !important;
      background-color: white ; /* Change hamburger menu color to white */
    }
  .nav-button-pod {
    background-color: transparent !important;
    font-family: Siemenas sans Roman;
    /* border-color: aqua; */
    border-radius: 10px;
    border-width: 2px;
    color: #fff;
    margin-bottom: 0px !important;
    border: 2px solid rgb(233, 231, 231);
    border-image: linear-gradient(
        to right,
        rgb(0 118 227 / 80%),
        rgb(255 30 84 / 80%)
      )
      1;
    border-image-slice: 1;
  }
  .navbar {
    color: #fff;
  }
  
  .nav-item{
    color: #fff;
  }
  
  .navmenu-items {
    font-family: Siemenas sans Roman !important;
    color: #fff;
  }
  
  .navmenu-items :hover {
    color: #fff;
    text-decoration: underline linear-gradient(
      to right,
      rgb(0 118 227 / 80%),
      rgb(255 30 84 / 80%)
    )
    1;;
    border: 2px solid rgb(233, 231, 231);
    /* border-image: 
    border-image-slice: 1; */
  }
  
  .company-name-mobile {
    display: none; /* Hide the mobile version of the company name*/
  }

  .header-button-contactus{
    padding: 8px;
    border-radius: 10px !important;
  }

  /* .navbar-toggler-icon,
.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
  display: none !important;
}

.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
  display: block;
} */

@media screen and (max-width: 767px){
  .navbar
  {
    width: 100%;
  }
  .nav-logo{
    height: 20px;
    width: 65px;
  }
  
  .fcsLogo-header {
  display: flex;
  align-self: center;    
    }
}